#qr-reader select {
  background-color: transparent !important;
}

/* For open theme */
#qr-reader select option {
  background-color: rgb(250, 250, 250) !important;
}

/* For dark theme */
.dark #qr-reader select option {
  background-color: rgb(86, 86, 86) !important;
}
